@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary: #00236f;
  --color-primary-container: #1e3a8a;
  --color-secondary: #006c49;
  --color-secondary-container: #6cf8bb;
  --color-tertiary: #5c0008;
  --color-tertiary-container: #860011;

  --color-background: #f8f9fa;
  --color-surface-lowest: #ffffff;
  --color-surface-low: #f3f4f5;
  --color-surface-container: #edeeef;
  --color-surface-high: #e7e8e9;
  --color-surface-highest: #e1e3e4;

  --color-on-background: #191c1d;
  --color-on-surface: #191c1d;
  --color-on-primary: #ffffff;
  --color-on-secondary: #ffffff;
  --color-on-tertiary: #ffffff;

  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
}

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  body {
    @apply bg-background text-on-background font-sans;
  }
}
